/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.barraLateral{
	-fx-background-color : white;
}

.barraLateralPulsaciones{
	-fx-background-color : aquamarine;
}

.panelPrincipal{
	-fx-background-color: aquamarine;
}

.botonLoginRegistro{
	-fx-background-color: white;
	-fx-background-radius: 10px;
}